.u-section-1 {
  background-image: url("images/latestbanner1.PNG");
  background-position: 84.62% 45.22%;
  background-size: 115%;
}

.u-section-1 .u-sheet-1 {
  min-height: 220px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-size: 135%;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-size: 180%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 220%;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-size: auto 245%;
  }
}.u-section-2 {
  min-height: 990px;
}

.u-section-2 .u-sheet-1 {
  min-height: 865px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1262px;
  margin: 29px auto 5px -54px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 894px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 6px 735px 0 26px;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  margin: -27px auto 0 117px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 13px 322px 0 41px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 763px;
  margin: 10px auto 0 41px;
}

.u-section-2 .u-image-1 {
  width: 238px;
  min-height: 86px;
  background-image: url("images/u_150.png");
  background-position: 50% 50%;
  margin: -80px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  background-image: none;
  font-weight: normal;
  margin: 8px 37px 0 39px;
}

.u-section-2 .u-text-4 {
  margin: 26px 38px 0;
}

.u-section-2 .u-image-2 {
  width: 820px;
  min-height: 87px;
  background-image: url("images/u_150.png");
  background-position: 50% 50%;
  margin: 132px 0 0 auto;
}

.u-section-2 .u-container-layout-3 {
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 894px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 18px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 0.7px;
  font-size: 1rem;
  margin: 38px 1px 0 47px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-2 .u-line-2 {
  transform-origin: right center 0px;
  width: 300px;
  margin: 2px auto 0 -1px;
}

.u-section-2 .u-line-3 {
  transform-origin: right center 0px;
  width: 300px;
  margin: 4px auto 0 -1px;
}

.u-section-2 .u-text-6 {
  background-image: none;
  font-size: 1rem;
  margin: 21px 35px 0 33px;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  background-image: none;
  font-size: 1rem;
  margin: 16px 35px 0 33px;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  background-image: none;
  font-size: 1rem;
  margin: 13px 35px 0 33px;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  background-image: none;
  font-size: 1rem;
  margin: 16px 35px 0 33px;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  background-image: none;
  font-size: 1rem;
  margin: 15px 35px 0 33px;
}

.u-section-2 .u-btn-7 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  background-image: none;
  font-size: 1rem;
  margin: 15px 35px 0 33px;
}

.u-section-2 .u-btn-8 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  background-image: none;
  font-size: 1rem;
  margin: 15px 35px 0 33px;
}

.u-section-2 .u-btn-9 {
  padding: 0;
}

.u-section-2 .u-text-13 {
  background-image: none;
  font-size: 1rem;
  margin: 16px 35px 0 33px;
}

.u-section-2 .u-btn-10 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  background-image: none;
  font-size: 1rem;
  margin: 15px 35px 0 33px;
}

.u-section-2 .u-btn-11 {
  padding: 0;
}

.u-section-2 .u-text-15 {
  background-image: none;
  font-size: 1rem;
  margin: 13px 35px 0 33px;
}

.u-section-2 .u-btn-12 {
  padding: 0;
}

.u-section-2 .u-text-16 {
  background-image: none;
  font-size: 1rem;
  margin: 16px 35px 0 33px;
}

.u-section-2 .u-btn-13 {
  padding: 0;
}

.u-section-2 .u-text-17 {
  background-image: none;
  font-size: 1rem;
  margin: 14px 35px 0 33px;
}

.u-section-2 .u-btn-14 {
  padding: 0;
}

.u-section-2 .u-text-18 {
  background-image: none;
  font-size: 1rem;
  margin: 17px 35px 0 33px;
}

.u-section-2 .u-btn-15 {
  padding: 0;
}

.u-section-2 .u-text-19 {
  background-image: none;
  font-size: 1rem;
  margin: 15px 35px 0 33px;
}

.u-section-2 .u-btn-16 {
  padding: 0;
}

.u-section-2 .u-text-20 {
  background-image: none;
  font-size: 1rem;
  margin: 15px 35px 0 33px;
}

.u-section-2 .u-btn-17 {
  padding: 0;
}

.u-section-2 .u-text-21 {
  background-image: none;
  font-size: 1rem;
  margin: 15px 35px 0 33px;
}

.u-section-2 .u-btn-18 {
  padding: 0;
}

.u-section-2 .u-text-22 {
  background-image: none;
  font-size: 1rem;
  margin: 13px 35px -18px 33px;
}

.u-section-2 .u-btn-19 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 965px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-right: 521px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -26px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 614px;
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 97px;
    margin-top: 807px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -892px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 192px;
    margin-top: -734px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1012px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    width: 206px;
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    width: 206px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1308px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 443px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 35px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 0;
    width: 456px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-image-2 {
    width: calc(((100% - 1140px) / 2) + 925px);
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-line-2 {
    height: 1px;
    width: 144px;
    margin-left: -30px;
  }

  .u-section-2 .u-line-3 {
    height: 1px;
    width: 144px;
    margin-left: -30px;
  }

  .u-section-2 .u-text-6 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-7 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-8 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-9 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-10 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-11 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-12 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-13 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-14 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-15 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-16 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-17 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-18 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-19 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-20 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-21 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-22 {
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1419px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 96px;
  }

  .u-section-2 .u-text-3 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-line-2 {
    margin-left: -10px;
  }

  .u-section-2 .u-line-3 {
    margin-left: -10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-8 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-10 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-11 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-12 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-13 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-14 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-15 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-16 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-17 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-18 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-19 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-20 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-21 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-22 {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 193px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 2179px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 243px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }

  .u-section-2 .u-image-2 {
    width: calc(((100% - 1140px) / 2) + 779px);
  }
}.u-section-3 .u-sheet-1 {
  min-height: 352px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 599px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  margin: -26px auto 0 56px;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 22px 237px 0 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  width: 660px;
  margin: 6px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
  margin: 26px 0 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: normal;
  margin: 0 -30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: -30px -30px 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0px;
  width: 669px;
  height: 1px;
  margin: 0 -9px 0 0;
}

.u-section-3 .u-line-3 {
  transform-origin: left center 0px;
  width: 669px;
  height: 1px;
  margin: 12px -9px 0 0;
}

.u-section-3 .u-text-6 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-4 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-5 {
  padding: 0;
}

.u-section-3 .u-text-9 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-6 {
  padding: 0;
}

.u-section-3 .u-text-10 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-7 {
  padding: 0;
}

.u-section-3 .u-text-11 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-8 {
  padding: 0;
}

.u-section-3 .u-text-12 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-9 {
  padding: 0;
}

.u-section-3 .u-text-13 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-10 {
  padding: 0;
}

.u-section-3 .u-text-14 {
  margin: 0 -30px;
}

.u-section-3 .u-btn-11 {
  padding: 0;
}

.u-section-3 .u-text-15 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-12 {
  padding: 0;
}

.u-section-3 .u-text-16 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-13 {
  padding: 0;
}

.u-section-3 .u-text-17 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-14 {
  padding: 0;
}

.u-section-3 .u-text-18 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-15 {
  padding: 0;
}

.u-section-3 .u-text-19 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-16 {
  padding: 0;
}

.u-section-3 .u-text-20 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-17 {
  padding: 0;
}

.u-section-3 .u-text-21 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-18 {
  padding: 0;
}

.u-section-3 .u-text-22 {
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-btn-19 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 238px;
  background-image: url("images/u_150.png");
  background-position: 50% 50%;
  margin: 163px auto 0 17px;
}

.u-section-3 .u-container-layout-3 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-text-1 {
    margin-right: 399px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-right: -9px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 137px;
    margin-top: -603px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 15px;
    margin-right: 179px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -28px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    letter-spacing: 0.7px;
  }

  .u-section-3 .u-text-4 {
    letter-spacing: 0.7px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 870px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin: 9px -9px 0 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin: 18px -9px 0 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin: 22px -9px 0 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-20 {
    width: auto;
    margin: 20px -9px 0 0;
  }

  .u-section-3 .u-text-21 {
    width: auto;
    margin: 18px -9px 0 0;
  }

  .u-section-3 .u-text-22 {
    width: auto;
    margin: 22px -9px 0 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 87px;
    margin-bottom: 60px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 983px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 39px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -26px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-right: 0;
  }

  .u-section-3 .u-text-20 {
    margin-right: 0;
  }

  .u-section-3 .u-text-21 {
    margin-right: 0;
  }

  .u-section-3 .u-text-22 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1283px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 90px;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }
}.vv {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  
  padding: 5px 32px;
  text-align: left;
  font-size: 16px;
  margin: 0px 0px;
  transition: 0.3s;
}
.vv:hover {
  background-color: #800000;
  color: white;
} 