.u-section-1 {
  background-image: url("images/secpagebanner1.PNG");
  background-position: 50% 34.45%;
}

.u-section-1 .u-sheet-1 {
  min-height: 220px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 74.52% 35.6%;
    background-size: 125%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 175%;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 74.12% 29.92%;
    background-size: auto 220%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 922px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 29px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 837px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 28px 276px 0 20px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 10px 559px 0 21px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  line-height: 2.5;
  letter-spacing: 0.8px;
  margin: 4px 5px 0 39px;
}

.u-section-2 .u-line-1 {
  height: 62px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: -69px auto 0 28px;
}

.u-section-2 .u-text-4 {
  margin: 26px 275px 0 21px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  line-height: 2.5;
  letter-spacing: 0.8px;
  margin: 6px 5px 0 37px;
}

.u-section-2 .u-line-2 {
  height: 233px;
  width: 3px;
  transform-origin: center top 0px;
  margin: -241px auto 0 28px;
}

.u-section-2 .u-text-6 {
  margin: 19px 275px 0 21px;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  line-height: 2.5;
  letter-spacing: 0.8px;
  margin: 5px 5px 0 37px;
}

.u-section-2 .u-line-3 {
  height: 140px;
  width: 3px;
  transform-origin: center top 0px;
  margin: -138px auto 0 28px;
}

.u-section-2 .u-image-1 {
  min-height: 97px;
  background-image: url("images/u_150.png");
  background-position: 50% 50%;
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 837px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 0 6px 0 0;
}

.u-section-2 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-2 .u-line-4 {
  transform-origin: left center 0px;
  width: 258px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-line-5 {
  transform-origin: left center 0px;
  width: 258px;
  margin: 3px auto 0 0;
}

.u-section-2 .u-text-9 {
  background-image: none;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  background-image: none;
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  background-image: none;
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-text-13 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

.u-section-2 .u-text-15 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  padding: 0;
}

.u-section-2 .u-text-16 {
  background-image: none;
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-8 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1000px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 106px;
    margin-left: 47px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 24px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 70px;
    margin-left: 83px;
  }

  .u-section-2 .u-line-1 {
    width: 400px;
    margin-top: -96px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 70px;
    margin-right: 82px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 70px;
    margin-left: 83px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -280px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 86px;
    margin-right: 153px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: 71px;
    margin-left: 83px;
  }

  .u-section-2 .u-line-3 {
    margin-top: -198px;
    margin-left: 75px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 123px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 965px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 6px;
    margin-right: 71px;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-line-5 {
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
  }

  .u-section-2 .u-text-15 {
    width: auto;
  }

  .u-section-2 .u-text-16 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 48px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 754px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 35px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 4px;
    margin-right: 54px;
    margin-left: 19px;
  }

  .u-section-2 .u-line-1 {
    width: 100px;
    margin-top: -65px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -1px;
    margin-right: 35px;
    margin-left: 19px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -240px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 2px;
    margin-right: 191px;
    margin-left: 19px;
  }

  .u-section-2 .u-line-3 {
    margin-top: -140px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-1 {
    min-height: 64px;
    margin-top: 31px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-8 {
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-2 .u-line-4 {
    margin-top: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-5 {
    height: 1px;
    margin-top: -8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 740px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 45px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 35px;
    margin-right: 100px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 5px;
    margin-right: 130px;
    margin-left: 33px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -69px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 26px;
    margin-right: 247px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 9px;
    margin-right: 47px;
    margin-left: 27px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 18px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 201px;
    margin-left: 29px;
  }

  .u-section-2 .u-line-3 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -980px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 27px;
  }

  .u-section-2 .u-line-4 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-5 {
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 34px;
    margin-right: 139px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 8px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-line-1 {
    width: 50px;
    height: 97px;
    transform-origin: center top 0px;
    margin-top: -103px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 51px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-right: 29px;
    margin-left: 32px;
  }

  .u-section-2 .u-line-2 {
    height: 258px;
    margin-top: -259px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 38px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
    margin-right: 65px;
    margin-left: 28px;
  }

  .u-section-2 .u-line-3 {
    margin-top: -131px;
    margin-left: 17px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1185px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-line-4 {
    margin-top: 4px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 20px;
  }
}.vv {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  
  padding: 5px 32px;
  text-align: left;
  font-size: 16px;
  margin: 0px 0px;
  transition: 0.3s;
}
.vv:hover {
  background-color: #800000;
  color: white;
} 