.u-section-1 {
  background-image: url("images/secpagebanner1.PNG");
  background-position: 50% 34.45%;
}

.u-section-1 .u-sheet-1 {
  min-height: 220px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 74.52% 35.6%;
    background-size: 125%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 175%;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 74.12% 29.92%;
    background-size: auto 220%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 743px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 685px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 39px 260px 0 36px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 716px;
  margin: -22px auto 0 36px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 22px 261px 0 36px;
}

.u-section-2 .u-text-3 {
  line-height: 2.5;
  letter-spacing: 0.8px;
  margin: 8px 15px 0 26px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 21px 584px 0 26px;
}

.u-section-2 .u-text-5 {
  line-height: 2.5;
  letter-spacing: 0.8px;
  margin: 8px 74px 0 26px;
}

.u-section-2 .u-image-1 {
  width: 752px;
  min-height: 87px;
  background-image: url("images/u_150.png");
  background-position: 50% 50%;
  height: auto;
  margin: 99px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 684px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 0 99px 0 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  width: 258px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  width: 258px;
  margin: 3px auto 0 0;
}

.u-section-2 .u-text-7 {
  background-image: none;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

.u-section-2 .u-text-13 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-8 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 965px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 42px;
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 614px;
    margin-top: -24px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 153px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 383px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 965px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 71px;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-line-3 {
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 5px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 601px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 456px;
    margin-top: -16px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 2px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 308px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 19px;
  }

  .u-section-2 .u-image-1 {
    min-height: 75px;
    width: 456px;
    margin: 40px -5px -30px auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-2 .u-text-6 {
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-3 {
    margin-top: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 27px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 22px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 22px;
  }

  .u-section-2 .u-image-1 {
    min-height: 76px;
    width: 530px;
    margin-top: 475px;
    margin-left: -5px;
    margin-bottom: -941px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 355px;
  }

  .u-section-2 .u-line-2 {
    width: 520px;
    margin-top: 0;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-2 .u-line-3 {
    width: 520px;
    margin-top: 5px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-2 .u-text-14 {
    margin-bottom: -328px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1477px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 765px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
    margin-top: -22px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 1px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 108px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 14px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    margin: 601px auto -637px -10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 19px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-14 {
    margin-bottom: 0;
  }
}