.u-section-1 {
  background-image: url("images/c.PNG");
  background-position: 86.13% 37%;
  background-size: 125%;
}

.u-section-1 .u-sheet-1 {
  min-height: 220px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 74.52% 35.6%;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-size: 185%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 250%;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 71.43% 34.13%;
    background-size: 365%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1312px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 29px 589px 0 1px;
}

.u-section-2 .u-line-1 {
  width: 1120px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 10px 0 0 auto;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0.7px;
  font-weight: normal;
  margin: 29px 13px 0 8px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 101px;
  background-image: url("images/u_150.png");
  background-position: 50% 50%;
  margin-top: 102px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 390px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 37px;
    margin-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 106px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1507px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2073px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 127px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 52px;
  }

  .u-section-2 .u-image-1 {
    min-height: 48px;
    margin-top: 219px;
  }
}