.u-section-1 {
  background-image: url("images/pic1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 326px;
}

.u-section-1 .u-text-1 {
  animation-duration: 2000ms;
  font-size: 1.5rem;
  letter-spacing: 0px;
  line-height: 1.1;
  width: 438px;
  margin: 124px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 210px;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  font-size: 1.125rem;
  font-style: normal;
  letter-spacing: 0.7px;
  animation-duration: 1000ms;
  margin: 20px 811px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  letter-spacing: 0.7px;
  margin: 14px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 63px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 11px;
  }
}